@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin horizontal-line {
    border-top: 1px solid $color-grey-dark-1;
    padding-top: 2rem;
}